.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 0 15px;
    }
}

header {
    position: relative;
}

.links {
    position: absolute;
    right: 10px;
    top: 5px;
}

.links>* {
    margin-left: 5px;
}

.linkedin-logo, .twitter-logo, .rss-logo {
    width: 25px;
    border-width: 0px !important;
    display: inline;
    vertical-align: bottom;
}

a.title:link,
a.title:visited,
a.title:hover,
a.title:active
{
    font-size: 32px;
    text-decoration: none;
    color: #6ac81e;
    font-weight: lighter;
    display: block;
    transform: scaleY(2);
}

.subtitle {
    color: darkgreen;
}

.token.operator {
  background-color: inherit;
}

.markdown-body img {
    border: 1px solid gray;
}

.promote {
    background-color: #f5f2f0;
    padding: 15px 15px;
    margin: 15px 0 0 0;
    border-left: 5px solid #6ac81e;
}